#set( $exp = $RustFormat.format($node.getExp()))
##
#if ($RustFormat.isStringType($node.getExp().getType()))
	#set( $getCall = ".charAt(0)")
	${exp}${getCall}
#else
	#set( $getCall = ".get(0)")
	#set ($call = "(($RustFormat.format($node.getType())) ${exp}${getCall})")
	#if ($ValueSemantics.shouldClone($node))
		Utils.copy(${call})
	#else
		${call}
	#end	
#end