use codegen_runtime::*;

#set( $threadMethod = "")
#if (!$RustFormat.isNull($node.getThread()))
	#set( $threadMethod = $RustFormat.format($node.getThread()))
#end
##
$RustFormat.formatMetaData($node.getGlobalMetaData())##
##
$node.getAccess() struct $node.getName() {
	#foreach( $field in $node.getFields() )
	$RustFormat.format($field)
	#end
}

impl $node.getName() {
	#foreach( $method in $node.getMethods() )
	$RustFormat.format($method)
	#end
	##
	${threadMethod}
	##
}

	

	