use codegen_runtime::*;

/* types */
#foreach( $typeDecl in $node.getTypeDecls() )
$RustFormat.format($typeDecl)
#end
##
##set( $instanceVars = $node.getFields().stream().filter(field -> !field.getStatic()).collect(Collectors.toList()))
##set( $staticVars = $node.getFields().stream().filter(field -> field.getStatic() && !field.getFinal()).collect(Collectors.toList()))
##set( $values = $node.getFields().stream().filter(field -> field.getStatic() && field.getFinal()).collect(Collectors.toList()))
#set( $hasFields = !$node.getFields().isEmpty())
##
#[derive(PartialEq, Eq, Clone, Hash, Debug)]
$node.getAccess() struct $node.getName()#if(!$hasFields);#else {
	#foreach( $field in $node.getFields() )
	$RustFormat.format($field)
	#end
}
#end

impl $node.getName() {
/* operations */
	#foreach( $method in $node.getMethods() )
	$RustFormat.format($method)
	#end
	##

/* functions */
	#foreach( $func in $node.getFunctions() )
	$RustFormat.format($func)
	#end
}

impl Default for $node.getName() {
	fn default() -> $node.getName() {
		#foreach( $field in $node.getFields() )		
		let $field.getName(): $RustFormat.format($field.getType()) = $RustFormat.formatInitialExp($field.getInitial());
		#end
		
		$node.getName()
		#if($hasFields)
		{
			#foreach( $field in $node.getFields() )
			$field.getName(): $field.getName(),
			#end
		}
		#end		
	}
}
	

	