#set( $final = "")
#if ( !$node.getFinal() )
	#set( $final = "mut")
#end
##
#set( $end = ";")
#if ( $RustFormat.isLoopVar($node) )
	#set( $end = "")
#end
##
#set( $pattern = $RustFormat.format($node.getPattern()) )
##
$RustFormat.formatMetaData($node.getMetaData())##
##
let ${final} $pattern: $RustFormat.format($node.getType())  = $RustFormat.format($node.getExp())${end}