##
#set( $returnType = $RustFormat.format($node.getMethodType().getResult()))
##
#set( $templateTypes = "")
#if ($node.getTemplateTypes().size() > 0)
	#set( $templateTypes = $RustFormat.formatTemplateTypes($node.getTemplateTypes()))
#end
##
#if( $node.getStatic())
#set( $params = "")
#elseif ($node.getIsPure())
#set( $params = "&self")
#else
#set( $params = "&mut self")
#end
#if ($node.getFormalParams().size() > 0)
	#if( !$node.getStatic() )
	#set( $params = ${params} + ", ")
	#end
	#set( $params = ${params} + $RustFormat.formatList($node.getFormalParams()))
#end
##
$RustFormat.formatMetaData($node.getMetaData())##
##
$node.getAccess() fn $node.getName()$templateTypes($params) -> $returnType {
	$RustFormat.format($node.getBody())
} 