#set( $static = "")
#if ($node.getStatic())
	#set( $static = "static")
#end
##
#set( $returnType = $RustFormat.format($node.getMethodType().getResult()))
#set( $abstract = "")
#if ($node.getAbstract())
	#set( $abstract = "abstract")
#end
##
#set( $templateTypes = "")
#if ($node.getTemplateTypes().size() > 0)
	#set( $templateTypes = $RustFormat.formatTemplateTypes($node.getTemplateTypes()))
#end
##
$RustFormat.formatMetaData($node.getMetaData())##
##
$node.getAccess() fn $node.getName()$templateTypes($RustFormat.format($node.getFormalParams())) -> $returnType $RustFormat.formatOperationBody($node.getBody())