#[derive(PartialEq, Eq, Clone, Hash, Debug)]
$node.parent().getAccess() struct $node.getName() {
	#foreach( $field in $node.getFields() )
	$RustFormat.format($field)
	#end
}
#set( $last_field = $node.getFields().getLast())
impl_record! { $node.getName():#foreach( $field in $node.getFields() ) $field.getName() as $RustFormat.format($field.getType())#if($field != $last_field), #end#end }