#set( $args = $RustFormat.formatArgs($node.getArgs()) )
#set( $field = $node.getFieldName() )
#set( $designator = $RustFormat.format($node.getDesignator()) )
##
#set( $return = "")
#if (!$RustFormat.isVoidType($node.getType()))
	#set( $return = "return ")
#end
##
${return}${designator}.${field}(${args});