#set( $iterator = $RustFormat.genIteratorName() )
#set( $exp = $RustFormat.format($node.getExp()) )
#set( $var = $RustFormat.format($node.getPattern()) )
#set( $elementType = $RustFormat.formatElementType($node.getExp().getType()) )
#set( $body = $RustFormat.format($node.getBody()) )
##
for (Iterator ${iterator} = ${exp}.iterator(); ${iterator}.hasNext();)
{
	${elementType} ${var} = (${elementType}) ${iterator}.next();
	${body}
}