#set( $index = $node.getVar())
#set( $fromExp = $RustFormat.format($node.getFrom()) )
#set( $toExp = $RustFormat.format($node.getTo()) )
#set( $body = $RustFormat.format($node.getBody()) )
#set( $bySpecified = !$Util.isNull($node.getBy()) )
##
#if ( $bySpecified == true )
{
	let mut $index = $fromExp;
	while $index < $toExp {
		$body
		$index += $RustFormat.format($node.getBy());
	}
}
#else
for ${index} in (${fromExp}..${toExp}) {
	${body}
}
#end