#set( $init = "" )
#if ( !$Util.isNull($node.getInit()) )
	#set( $init = $RustFormat.format($node.getInit()) )
#end
##
#set( $cond = "" )
#if ( !$Util.isNull($node.getCond()) )
	#set( $cond = $RustFormat.format($node.getCond()) )
#end
##
#set( $inc = "" )
#if ( !$Util.isNull($node.getInc()) )
	#set( $inc = $RustFormat.format($node.getInc()) )
#end
##
#set( $body = $RustFormat.format($node.getBody()) )
${init};
while(${cond})
{
	${body}
	${inc}
}