#set( $stm = "")
#if (!$Util.isNull($node.getStm()))
	#set( $stm = $RustFormat.format($node.getStm()))
#end
##
#set( $finally = $RustFormat.format($node.getFinally()))
##
try
{
	${stm}
}
#foreach( $clause in $node.getCatchClauses() )
$RustFormat.format($clause)
#end
#if (!$Util.isNull(${finally}))
finally
{
	${finally}
}
#end