#set( $name = $node.getName() )
#if($node.getIsRootPackage())
	#set( $prefix = "::")
#else
	#set( $prefix = "")
#end
#if( $node.getIsFinal() )
${prefix}$node.getPackage()::${name}##
#else
${prefix}$node.getPackage()::${name}.lock()##
#end